{{#> sd-simple-template }}
<h2>New maintainer</h2>
<p>Hi {{user}},</p>
<p>We have a new maintainer for this topic:</p>
<table>
  <tr>
    <td align="center">
      <table style="border: 1px solid #ccc; border-radius: 6px; margin: 20px 0; color: #222;">
        <tr>
          <td align="left" style="font-weight: 700; width: 50%; border-bottom: 1px solid #ccc; padding: 10px;">
            Topic
          </td>
          <td align="right" style="width: 50%; border-bottom: 1px solid #ccc; padding: 10px;">
            {{topic}}
          </td>
        </tr>
        <tr>
          <td align="left" style="font-weight: 700; width: 50%; border-bottom: 1px solid #ccc; padding: 10px;">
            User Name
          </td>
          <td align="right" style="width: 50%; border-bottom: 1px solid #ccc; padding: 10px;">
            {{maintainer}}
          </td>
        </tr>
        <tr>
          <td align="left" style="font-weight: 700; width: 50%; padding: 10px;">
            E-mail
          </td>
          <td align="right" style="width: 50%; padding: 10px;">
            {{email}}
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
{{/sd-simple-template}}