{{#> sd-simple-template}}
<h2>New answer</h2>
<p>Hi {{user}},</p>
<p>Your question has been answered.</p>
<p>"{{question}}"</p>
<table>
  <tr>
    <td align="center">
      <p>
        <a href="{{actionLink}}" class="button">{{actionLabel}}</a>
      </p>
    </td>
  </tr>
</table>
{{/sd-simple-template}}
