{{#> sd-simple-template }}
<h2>A new maintainer!</h2>
<p>Hi {{user}},</p>
<p>You have been assigned to write and maintain <b>{{topic}}</b> topic page.</p>
<table>
    <tr>
        <td align="center">
            <p>
                <a href="{{topicLink}}" class="button">Edit page now</a>
            </p>
        </td>
    </tr>
</table>
{{/sd-simple-template}}